html, body{
    font-family: poppins, sans-serif;
    color: rgb(225, 225, 229);
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 2rem 15vw; 
}

.navbar-links{
    display: flex;
    list-style-type: none;
    padding-top: 1.5rem;
}
li{
    padding: 0 2rem;
    font-weight: 900;
}