.App {
  background-color: #4c6250;
  height: 100vh;
  width: 100vw;
}

h1 {
  font-size: 70px;
  padding-top: 2vw;
  margin: 0;
}

h2 {
  font-size: 30px;
  font-weight: 600;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}


.introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 25% }
}


