.App {
  background-color: #4c6250;
}

h1, h2{
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 70px;
  padding: 0;
  margin: 0;
}

h2 {
  font-size: 30px;
  font-weight: 600;
}

